.software {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.software h1 {
    font-size: 30px; 
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.candidate-form{
    margin-top: 80px;
    margin-bottom: 40px;
    border: 1px solid #dddddd;
    box-shadow: 1px 1px #dddddd;
} 

.btn-file {
    background: #efefef;
    width: 150px;
    font-size: 14px;
    border: 1px solid #d4d4d4;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

@media screen and (max-width: 349px) {
    .render-image-text {
        margin-bottom: 0
    }

    .software h1{
        font-size: 25px; 
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .referral {
        padding: 0;
    }

    .heading {
        font-size: 16px;
    }

    .btn-file {
        font-size: 12px;
        width: 105px;
    }
    .heading-profile{
        padding-top: 40px;
        font-size: 16px;
        font-weight: 600;
    }

    .fa-eye::before {
        transform: translate(-5px, -45px);
        position: absolute;
        left: 85%;
    }

    .submit {
        padding: 10px;
    }

    .submit-button {
        padding: 10px 40px;
    }
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
    .referral {
        padding: 0;
    }
    
    .heading {
        font-size: 18px;
    }

    .btn-file {
        font-size: 12px;
        width: 125px;
    }
    .heading-profile{
        padding-top: 40px;
        font-size: 18px;
        font-weight: 600;
    }
    .submit {
        padding: 0 10px 15px 10px;
    }

    .fa-eye::before {
        transform: translate(-5px, -45px);
        position: absolute;
        left: 85%;
    }
}

@media only screen and (min-width:601px){
    .fa-eye::before {
        transform: translate(-5px, -45px);
        position: absolute;
        left: 80%;
    }
}